body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse


}

#container div {
    width: 300px;
    height: 200px
}

